*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Файлы, сгенерированные Android Studio
.idea/

# Сборка и бинарные файлы
/build/
/app/build/

# Файлы Gradle
.gradle/
.gradle.kts/

# Файлы логов и отчеты о сборке
*.log
build/
captures/
output.json

# Пользовательские файлы конфигурации
local.properties

# Файлы, содержащие конфиденциальные данные (например, ключи API)
app/src/main/res/values/secrets.xml
